.navbar {
    background-color: #09574b;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will push the profile section to the right */
    width: 100%;
  }

  .logo {
    flex-grow: 1;
    text-align: center;
    font-size: 44px; /* Adjust the size as needed */
    margin: 0; /* Remove default margin */
    color: #fff;

  }
  
  
  .hamburger-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    cursor: pointer;
    margin-left: 200px;
  }
  
  .line {
    background-color: #fff;
    height: 2px;
    width: 25px;
  }
  
  .menu-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .profile {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .icon_wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .name {
    margin-right: 10px;
    color: #fff;
  }
  
  .profile_dd {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    color: #070707;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Initially hidden */
    width: 150px; /* Set a fixed width */
  }
  
  .profile:hover .profile_dd {
    display: block; /* Show on hover */
  }
  
  .profile_ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
  }
  
  .profile_li {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .profile_li a {
    text-decoration: none;
    color: #070707;
    display: flex;
    align-items: center;
  }
  
  .profile_li:hover {
    background-color: #f1f1f1;
  }
  
  .picon {
    margin-right: 10px;
  }
  

/* styles.css */
.profile_li {
  list-style: none;
}

.profile {
  text-decoration: none;
  color: inherit;
}

.picon {
  margin-right: 8px;
}

/* styles.css */
.profile_li {
  list-style: none;
}

.profile {
  text-decoration: none;
  color: inherit;
}

.picon {
  margin-right: 8px;
}

/* Modal styles */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ReactModal__Content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height: 400px;
  max-width: 90%;
  margin-left: 30pc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.ReactModal__Content h2 {
  margin-top: 0;
}

.ReactModal__Content button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.ReactModal__Content div {
  margin-top: 20px;
}


.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s;
}

.btn-icon:hover {
  transform: scale(1.1);
}

.btn-icon:focus {
  outline: none;
}
